body {
	margin: 0 !important;
}

.planbox {
	padding: 10px;
	border: 1px solid #CECDCD;
	border-radius: 15px;
	height: 200px;
	background-color: #CECDCD;
}

.planbox h4 {
	text-transform: uppercase;
}

.descr {
	font-family: sans-serif;
	font-size: 15px;
}

.vline {
	border-right: 1px solid #CECDCD;
	height: 200px;
}

.jumbotron {
	background-image: asset-url('team.jpg');
	background-size: cover;
	height:400px;
}

.jumb-back {
	background-color: rgba(256,256,256,0.8);
	padding: 10px;
}